@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
body.dark{
    background-color: #06052f;
    height: 1600px;
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    margin-left: 25px;
}


.inicio-area{
    height: 700px;
}
div{
    display: block
}

.navbar-brand{
    margin-top: 20px;
    
}
.navbar-brand img{
    margin-right: 90px;
   
}
.dropdown-item{
    font-size: 14px;
    font-weight: 600;
    color: rgb(92, 92, 92);
}

#presentacion{
    margin:0;
    width: 100%;
    height: 600px;
    background-image: url("../imagenes/welcome_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    position: relative;
}

#presentacion::before{
    content: "";
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #080325 0%, #0a0435 100%);
    opacity: 0.95;
    z-index: 1;
}
.fondos{
    
    background-color: #fff;
    padding: 19px;
    
    
   
}
.fondos2{
    width: 100%; 
    background-color: #fff;
    padding-bottom: 20px;
    
}
.nav-link{
    font-size: 16px;
    font-weight: 700;
}
.container {
    margin: 0 auto;
    width: 100%;
    
}

.align-items-center{
    display: flex;
    align-items: center;    
}

.col-12 .col-md-7{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
   
}
.intro h1{
    
    font-size: 50px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1.6px;
    
}
.texto-intro{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 0.9em;
    letter-spacing: -1px; 
}
.fw-4 {
    font-weight: 400;
}
.intro{
    position: relative;
    z-index: 100;
}
.intro p{
    font-size: 15px;
}
.texto-lorem{
    color: rgba(255,255,255,.6);
    margin-bottom:20px;
    margin-top: 1.5rem;
}
p{
    font-family: sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.button-group{
    margin-top: 30px;
}
.btn.btn-bordered-white.active {
    border-color: rgb(250, 250, 250);
    outline: 0 none;
    background:linear-gradient(-45deg,#db7a1f 0%,#88a71a 100%);   
}
.btn.btn-bordered-white.active .d-none .d-sm-inline-block:hover{
    background:linear-gradient(-45deg,#bb6617 0%,#bce71e 100%);
}


.btn.btn-bordered-white {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    z-index: 5;
}
.button-group a {
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
}

.primerBoton {
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border-radius: 100px;
    position: relative;
    z-index: 1;
}
.boton-crud{
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border-radius: 10px;
    position: relative;
 
}

.primerBoton:hover{
    color:#ffffff
}
.col-12 .col-md-5{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.ml-auto{
    z-index: 3;
    margin-left: auto;
    display: block;
    margin-top: 3rem;
    position: relative;
    
}
.parte1{
    position: relative;
    display: block;
    width: 100%;
}
.homepage-5 .imagen2{
    top: 25%;
    left: -5%;
}
.imagen2{
    position:absolute;
    z-index: 4;
}
.d-block{
    display: block;
}
.imagen2 .animation{
    animation-duration: 5s;
}
.animation{
    position: relative;
    animation: lupaAnimacion 5s ease-in-out infinite;
}

@keyframes lupaAnimacion{
    0%{top:0px;}
    50%{top:25px}
    100%{top: 0px;}
}

.row{
   position:relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: auto;
    align-items: center;
  
}


.col-12 .col-lg-4{
    position: relative;
    width: 100%;
    padding-left: 15px;
}
.p-3{
    padding: 1rem;
}
.media{
    display: flex;
    align-items: flex-start;
}
.ml-4{
    margin-left: 1.5rem;
}
.media-body{
    flex: 0.94;
}
a{
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease 0s;
}
.service-btn{
    position: relative;
    display: inline-block;
    font-weight: 500;
}
.homepage-5 .service-btn{
    color: rgb(255,255,255,.54);
}
.service-btn::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #0449c4;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in 0s, -webkit-transform 0.3s ease-in 0s;
}
.service-btn:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}
.mb-3{
    margin-bottom: 1rem;
}
.mt-2{
    margin-top: .5rem;
}

/* iconos */

.icono {
    background-color: rgba(190, 99, 249, 0.15);
}
.icono2 {
    background-color: rgba(38, 198, 218, 0.15);
}
.icono3{
   background-color: rgba(252, 87, 59, 0.15);
}
.icono4{
    background-color: rgba(52, 255, 146, 0.15);
}
.icono5{
    background-color: rgba(255, 210, 0, 0.15);
}
.icono6{
    background-color: rgba(255, 157, 69, 0.15);
}
.single-service > span {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 5.2rem;
    text-align: center;
    border-radius: 10px;
}
.color-1 {
    color: #be63f9;   
}
.color-2{
   color: #26c6da;
}
.color-3{
   color: #fc3b3b; 
}
.color-4{
    color: #34FF92;  
}
.color-5{
    color:#f7ce17ea;  
}
.color-6{
    color: #ff9d45;
}

.texto-lorem2{
    color: rgba(255,255,255,.6);
    margin-bottom:20px;
    margin-top: 1.5rem;
    text-align: center;
}
.justify-content-center{
    justify-content: center;
}
.col-12 .col-lg-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.precio-plan-wrapper{

    width: 110%;
    margin-left: 130px;
}

.tarjeta{
    width: 355px;
    align-items: center;
    
    padding-top: 10px;
    background-color: #0c0c3a9c;
    border-radius: 7px;
    border: 1px solid rgb(31, 32, 107);
    height: 500px;
    flex-wrap:wrap;
    transition: all 0.5s;
    box-shadow: 0px 0px 30px 0px rgb(217 20 255 / 47%);
    border-radius: 1rem;
    
    
}
.tarjeta:hover{
    transform: translateY(-5px);
    
}
.tarjeta-body{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.tarjeta-body h1{
   /*  padding: 15px; */
    color: rgb(255, 255, 255);
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding-bottom:12px; /* separar el titulo del autor */
    /* width: 160px; */
    
}

.tarjeta-body p{
    
    margin-bottom: 25px;
    color: rgb(255, 255, 255,.6);
    text-align: center;
    font-family: 'poppins', sans-serif;
    
}
.p-mes{
    letter-spacing: -1px;
    font-size: 21px;
    margin-top: -40px;
    margin-right: 20px;
  
}
.p-mes2{
    letter-spacing: -1px;
    font-size: 21px;
    margin-top: -56px;
    margin-right: -72px;
  
}
.dolar{
    color: #be63f9;
    margin-right: 146px;
}
.precio{
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    
    margin-bottom: -22px;
    margin-left: 90px;
}

.precio2{
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff019;
    margin-top: 38px;
   
}
.precio2 .precio-pro{
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff019;
    margin-bottom: 35px;
    margin-left: -95px;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul li{
    list-style: none;
    display: list-item;
   
}
.plan-descrip{
   display: block;
   width: 200px;
   padding-bottom: .5rem;
   padding-top: .5rem;
   font-size: 14px;
   margin-left: -60px;
}
.plan-descrip2{
    display: block;
    width: 200px;
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-size: 14px;
    margin-left: 20px;
 }


 .boton-comprar{
    display: block;
    font-size: 18px;
    padding: 12px;
    width: 280px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    background: #0c0c3a9c;
    border:2px solid rgb(255, 255, 255);
    text-align: center;
    margin-left: -82px;
}
.boton-comprar:hover{
    background: linear-gradient(-45deg,#530b83e8 0%, #b370ce 100%);
    color: #ffffff;
    border:1px solid rgb(134, 40, 158);
    
}

.boton-comprar2{
    display: block;
    font-size: 18px;
    padding: 12px;
    width: 280px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    background: #0c0c3a9c;
    border:2px solid rgb(255, 255, 255);
    text-align: center;
    margin-left: 1px;
}
.boton-comprar2:hover{
    background: linear-gradient(-45deg,#530b83e8 0%, #b370ce 100%);
    color: #ffffff;
    border:1px solid rgb(134, 40, 158);
    
}

