.gradient-final{
    position: relative;
    height: 450px;
    width: 100%;
    background-image: url("../imagenes/chica-fondo2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    padding-top: 1px;
}
.gradient-final::before{
   
    background: linear-gradient(135deg, #0c043a 0%, #080329 100%);
    content: "";
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.95;
    z-index: 1;
}

.linea{
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 40px;
}
footer {
    
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color: #09093565 ;
    margin: 20px 0px;
    border-radius: 3px;
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .autor {
    line-height: 30px;
    font-size: 15px;
    height: 20px;
    margin-bottom: -20px;
   
}
footer .autor2{
    
 
  height: 20px;
  margin-bottom: -20px;
}

footer .redes {
    display: flex;
    flex-direction: row;
    background-color: rgba(18, 89, 189, 0.664);
   
}

footer .redes .icono{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(8, 5, 51);
    line-height: 65px;
}

footer .redes .icono .fa-youtube{
    color:rgba(255,255,255,.5);
}
footer .redes .icono .fa-facebook{
    color:rgba(255,255,255,.5);
}
footer .redes .icono .fa-twitter{
    color:rgba(255,255,255,.5);
    
}

